
{% extends 'base.html' %}

{% block title %}
    <title>Blog | Home </title>
{% endblock %}

{% block content %}
<div class="blogs">
    <div class="blog">
        <div class="blog__box">
            <div class="blog__user">
                <p class="blog__author">Mubix</p>
                <p class="blog__udate">JAN 18, 2021 <span class="blog__utime">20:43 PM</span></p>
            </div>
            <h4 class="blog__title">Blog Post 1</h4>
            <p class="blog__content">This is my first Blog</p>
        </div>
    </div>
    <div class="blog">
        <div class="blog__box">
            <div class="blog__user">
                <p class="blog__author">Mubix</p>
                <p class="blog__udate">JAN 18, 2021 <span class="blog__utime">20:43 PM</span></p>
            </div>
            <h4 class="blog__title">Blog Post 1</h4>
            <p class="blog__content">This is my first Blog</p>
        </div>
    </div>
</div>
<div class="side-bar">
    <ul class="side-bar__list">
        <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Announcements</a></li>
        <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Top Posts</a></li>
        <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Old Posts</a></li>
    </ul>
</div>

{% endblock %}