{% extends 'blog/base.html' %}

{% block title %}
    <title>Blog | About </title>
{% endblock %}

{% block content %}
<div class="about">
    About
</div>
<div class="side-bar">
    <ul class="side-bar__list">
        <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Announcements</a></li>
        <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Top Posts</a></li>
        <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Old Posts</a></li>
    </ul>
</div>

{% endblock %}