{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block staticLink %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block title %}
        <title>Blog | </title>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block navbar %}
            <header class="header">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item nav__item--1"><h4><a href="{% url 'blog:home' %}" class="nav__link">Blog Post</a></h4></li>
                        <li class="nav__item nav__item--1"><a href="{% url 'blog:home' %}" class="nav__link">Home</a></li>
                        <li class="nav__item nav__item--2"><a href="#" class="nav__link">About</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav__item nav__item--3"><a href="{% url 'profile' %}" class="nav__link">Profile</a></li>
                            <li class="nav__item nav__item--4"><a href="{% url 'logoutPage' %}" class="nav__link">logout</a></li>
                        {% else %}
                            <li class="nav__item nav__item--3"><a href="{% url 'loginPage' %}" class="nav__link">Log in</a></li>
                            <li class="nav__item nav__item--4"><a href="{% url 'signup' %}" class="nav__link">Sign up</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block sidebar %}
            <div class="side-bar">
                <ul class="side-bar__list">
                    <li class="side-bar__item"><a href="{% url 'blog:createpost' %}" class="side-bar__link">&rarr; Create Post</a></li>
                    <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Announcements</a></li>
                    <li class="side-bar__item"><a href="#" class="side-bar__link">&rarr; Top Posts</a></li>
                </ul>
            </div>
        {% endblock%}
        <footer class="footer">
            footer
        </footer>
    </div>
</body>
</html>