{% extends 'blog/base.html' %}

{% block title %}
    <title>Blog | Create Post</title>
{% endblock %}

{% block content %}
    <section class="post-form-section">
        <form action="#" method="POST" class="post-form">
            {% csrf_token %}
            <h5 class="heading-5 mb-md"> Create Post </h5>
            <div class="form__group">
                <input type="text" class="form__input" id="title" name="title" placeholder="Title">
                <label for="title" class="form__label">Title</label>
            </div>
            <div class="form__group mb-sm">
                <textarea name="content" id="content" cols="50" rows="10" class="form__textarea" placeholder="Enter Content"></textarea>
                <label for="content" class="form__label">Content</label>
            </div>
            <div class="form_group">
                <button type="submit" class="btn btn__submit">Post</button>
            </div>
        </form>
    </section>
{% endblock %}

{% block sidebar %}

{% endblock%}