*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  color: #2a2825;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr repeat(8, [col-start] 14rem [col-end]) 1fr [full-end];
  grid-template-rows: 6rem max-content;
  align-items: start;
  grid-gap: 1.5rem; }

.header {
  background-color: #26a3a1;
  background-image: linear-gradient(to right, #42bd9f, #26a3a1);
  grid-column: full-start / full-end; }

.nav {
  padding: 2rem;
  max-width: 92rem;
  margin: 0 auto; }
  .nav__list {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center; }
  .nav__item {
    margin-right: 3rem; }
    .nav__item:last-child {
      margin-right: 0rem; }
    .nav__item--2 {
      margin-right: auto; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    display: block;
    transition: all .2s; }
  .nav__link:hover {
    border-bottom: 1px solid #fff;
    transform: translateY(-0.3rem); }
  .nav__link:active {
    transform: translateY(-0.1rem); }

.blogs {
  grid-column: col-start 2 / col-end 5;
  grid-row: 2 / 3;
  background-color: #26a3a1;
  padding: 2rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  grid-row-gap: 2rem; }

.blog {
  background-color: #f9f7f6;
  padding: 1rem; }
  .blog__user {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #BDBDBD; }
  .blog__author {
    font-size: 1.5rem;
    color: #26a3a1; }
  .blog__udate {
    font-size: .9rem;
    margin-left: 1rem;
    color: #707070;
    margin-top: .5rem; }
  .blog__utime {
    font-size: .9rem;
    color: #707070; }
  .blog__box {
    display: grid;
    grid-template-columns: 1fr; }
  .blog__title {
    font-size: 1.9rem;
    color: #555555;
    margin: .5rem  0; }
  .blog__content {
    color: #757575;
    font-size: 1.4rem; }

.side-bar {
  grid-column: col-start 6 / col-end 7;
  grid-row: 2 / 3;
  align-self: start;
  background-color: #26a3a1;
  padding: 3rem 4rem;
  border-radius: 5px; }
  .side-bar__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem; }
  .side-bar__item {
    padding: 1rem 3rem;
    background-color: #f9f7f6;
    border-radius: 3px;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.1);
    transition: all .2s; }
    .side-bar__item:hover {
      transform: translateY(-0.3rem); }
    .side-bar__item:active {
      transform: translateY(-0.1rem); }
  .side-bar__link:link, .side-bar__link:visited {
    font-size: 1.4rem;
    text-decoration: none;
    color: #338897;
    font-weight: 400;
    text-transform: uppercase;
    border: none; }

.footer {
  grid-column: full-start/ full-end;
  grid-row: 3 / 4;
  display: none;
  background-color: #42bd9f;
  color: #fff; }
